<!DOCTYPE html>
<html ng-app="ionicApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>种犬展示</title>
    <link href="/css/ionic.min.css" rel="stylesheet">
</head>
<body ng-controller="AppCtrl">

<div class="list">
    <a class="item item-thumbnail-left" href="/detail">
        <img src="/upload/dogs/1.jpg">

        <h2>尼克（公）</h2>

        <p>Nick of Ling Rui Kennel</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
        <img src="/upload/dogs/2.jpg">

        <h2>波塞顿（公）</h2>

        <p>Poseidon of Ling Rui Kennel</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
        <img src="/upload/dogs/3.jpg">

        <h2>A咪（母）</h2>

        <p>Amini of Ling Rui Kennel</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
        <img src="/upload/dogs/4.jpg">

        <h2>芬妮（母）</h2>

        <p>Fanny of Ling Rui Kennel</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
        <img src="/upload/dogs/5.jpg">

        <h2>安妮（母）</h2>

        <p>Annie of Ling Rui Kennel</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
        <img src="/upload/dogs/6.jpg">

        <h2>洛卡（母）</h2>

        <p>Loka of Ling Rui Kennel</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
        <img src="/upload/dogs/7.jpg">

        <h2>黑丝（母）</h2>

        <p>Wire of Ling Rui Kennel</p>
    </a>
</div>

<script src="/js/ionic.bundle.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/script.js"></script>
</body>
</html>
