<!DOCTYPE html>
<html ng-app="ionicApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>关于灵睿</title>
    <link href="/css/ionic.min.css" rel="stylesheet">
</head>
<body ng-controller="AppCtrl">

<div class="list card">
    <div class="item item-avatar">
        <img src="/upload/dogs/11.jpg">
        <h2>灵睿犬舍</h2>
        <p>Ling Rui's Kennel CKU: 86056</p>
    </div>
    <div class="item item-body">
        <img class="full-image" src="/upload/dogs/11.jpg">
        <p>{{ Global.Introduce }}</p>
    </div>
</div>

<script src="/js/ionic.bundle.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/script.js"></script>
</body>
</html>
