<!DOCTYPE html>
<html ng-app="ionicApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>种犬展示</title>
    <link href="/css/ionic.min.css" rel="stylesheet">
</head>
<body ng-controller="AppCtrl">

<div class="list card">

    <div class="item item-avatar">
        <img src="/upload/dogs/1.jpg">
        <h2>尼克（公）</h2>
        <p>Nick of Ling Rui Kennel</p>
    </div>

    <div class="item item-body">
        <img class="full-image" src="/upload/dogs/1.jpg">
        <p>
            天之霸主--尼克是灵睿犬舍整个族群的王者，从小展现出惊人的飞盘天赋，超强的衔取欲和占有欲，极高的抗压能力，使得他仅仅一个月的时间就已完成除借力的所有飞盘训练。优秀的结构，健硕的身材，夸张的毛量，漂亮的头版，完美的动态，举手投足间尽显王者气质。
            尼克的父亲是中国第三只两个协会CKU/NGKC双料登录冠军--诺亚方舟（大龙）,诺亚方舟是澳洲顶级血统BORDERFAME+CLAN-ABBY的完美结合，他拥有着正确的身体结构，强健有力平顺的动态，良好的性格憨厚惹人喜爱，超及粗壮的骨量，夸张的毛量，头版漂亮，，诺亚方舟是菲凡犬舍的年轻力量，他在2010年近期参加的2大场国际冠军展中，已年轻的9-18组别，挑战成年和冠军组后脱颖而出，一举夺冠，是中国边境牧羊犬中第一只，在第一场比赛里就能已幼年公犬的身份获得BOB，BIG2好成绩的犬只。
        </p>
        <p>
            <a href="#" class="subdued">1 Like</a>
        </p>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
            Like
        </a>
    </div>
</div>

<script src="/js/ionic.bundle.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/script.js"></script>
</body>
</html>
