<!DOCTYPE html>
<html ng-app="ionicApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>详细信息</title>
    <link href="/css/ionic.min.css" rel="stylesheet">
</head>
<body ng-controller="AppCtrl">

<div class="list card">
	{% if IsDog %}  
    <div class="item item-avatar">
        <img src="{{ Dog.Preview }}">
        <h2>{{ Dog.Title }}（{{ Dog.Sex }}）</h2>
        <p>{{ Dog.Subtitle }}</p>
    </div>
    <div class="item item-body">
        <img class="full-image" src="{{ Dog.Preview }}">
		<img class="full-image" src="{{ Dog.Picture1 }}">
		<img class="full-image" src="{{ Dog.Picture2 }}">
		<img class="full-image" src="{{ Dog.Picture3 }}">
		<img class="full-image" src="{{ Dog.Picture4 }}">
		<img class="full-image" src="{{ Dog.Picture5 }}">
        <p>{{ Dog.Memo }}</p>
    </div>
	{% endif %}
	{% if IsPup %}  
    <div class="item item-avatar">
        <img src="{{ Pup.Preview }}">
        <h2>{{ Pup.Title }}（{{ Pup.Sex }}）</h2>
        <p>{{ Pup.Subtitle }}</p>
    </div>
    <div class="item item-body">
        <img class="full-image" src="{{ Pup.Preview }}">
		<img class="full-image" src="{{ Pup.Picture1 }}">
		<img class="full-image" src="{{ Pup.Picture2 }}">
		<img class="full-image" src="{{ Pup.Picture3 }}">
		<img class="full-image" src="{{ Pup.Picture4 }}">
		<img class="full-image" src="{{ Pup.Picture5 }}">
        <p>{{ Pup.Memo }}</p>
    </div>
	{% endif %}
</div>

<script src="/js/ionic.bundle.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/script.js"></script>
</body>
</html>
