<!DOCTYPE html>
<html ng-app="ionicApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>登录</title>
    <link href="/css/ionic.min.css" rel="stylesheet">
</head>
<body ng-controller="AppCtrl">

<div class="list">
    <form action="/onSignin" method="POST">
        <label class="item item-input item-floating-label">
            <span class="input-label">登录账户</span>
            <input type="text" name="username" placeholder="登录账户">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">登陆密码</span>
            <input type="password" name="password" rows="10" placeholder="登陆密码">
        </label>
        <button type="submit" class="button button-block button-positive">
            登录
        </button>
    </form>
</div>

<script src="/js/ionic.bundle.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
